table {
  border: 1px solid #e3e3e3;
  margin-bottom: 16px;

  td,
  th {
    padding: 8px !important;
    border-bottom: 1px solid #f3f3f3;

    &:not(:last-child) {
      border-right: 1px solid #f3f3f3;
    }
  }
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 700;

  &:not(:first-child) {
    margin-top: 48px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 600;
  color: darkblue;

  &:not(:first-child) {
    margin-top: 24px;
  }
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

h4, h5, h6 {
  color: #003800;
}

code {
  color: darkorange;
  border-radius: 3px;
}

pre {
  border-radius: 3px;
}

img {
  margin: 0 auto !important;
}

blockquote {
  background-color: #fff7f2;
  font-style: italic;
  border-left-color: darkorange;
  padding: 8px 10px;
}

blockquote > * {
  margin-bottom: 0;
}

.caption-image-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.caption-image-container small {
  font-style: italic;
}
